.pictures{
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin-top: 10px;
}
#focus-picture{
  background-color: rgba(0,0,0,0.5);
  height:100%;
  width:100%;
  position: fixed;
  text-align: center;
  z-index: 10;
}

form{
  margin-top: 10px;
}

body{
  background-color: grey;
}
